body {  
    font-family: Arial, sans-serif;  
    background-color: #efcfd4;  
    color: #333;  
}  

h1 {  
    color: #15223b;  
}  

ul {  
    color: #15223b;  
}  

a {  
    color: #ff8295;  
    text-decoration: none; 
    padding-top: 20px; 
}  

.container {  
    display: flex;  
    flex-wrap:wrap;  
}  

.content {  
    flex: 2;  
    padding: 10px;  
}  

.sidebar {  
    flex: 1;  
    padding: 10px;  
    
}  

@media (max-width: 600px) {  
    .container {  
        flex-direction: column;  
    }  
}

