body {  
    font-family: Arial, sans-serif;  
    background-color: #efcfd4;  
    color: #333;  
}  

h1 {  
    color: #15223b;  
    text-align: center;
    font-family: "Dancing Script", cursive ;
    font-size: 70px;
    margin: 0px;
}  

.header {
    display: flex; /* to make HOME and ABOUT a flexible box */
    flex-direction: row; 
    justify-content: space-between; /* to mak them space out from one end to the other */
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 10px;
}

.about-me {
    color: #333;

}

.about-me:hover {
    color: rgb(82, 7, 7);
   font-size: large;
   text-decoration: none;
}


.bio {
    text-align: center;
    padding: 10px;
    
}


.footer {  
    color: #ff8295;  
    text-decoration: none; 
    padding-top: 20px; 
}  


.picture-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: flex-end;
    flex-wrap: wrap ;
    padding: 10px;
}

.picture {  
    width: 300px;
    height: 300px;
    display: flex;
    align-self: center;
    padding: 10px;
}




h2 {
    font-family: "Dancing Script", cursive ;
    font-size: 70px;
color: #ff8295;    margin-bottom: 0px;
    margin-top: 10px;
}

.book-me {
    padding: 10px;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#15223b

    
}

ul{
color: #efcfd4;
font-family: Arial, sans-serif;  
}

.portfolio {
    color: #15223b;
    padding-left: 70px;
    padding-top: 10px;

}

.portfolio:hover {
    text-decoration: underline;
}

.container {  
    display: flex;  
    flex-wrap:wrap; 
    background-color: #15223b; 
    padding: 50px;
    color: #efcfd4;
}  



@media (max-width: 600px) {  
    .container {  
        flex-direction: column;  
    }  
} 







.contact{
    background-color: #15223b;
}



input{
padding: 5px;
}

hr{
    background-color:    #efcfd4;
    
}




